/* .App {
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body {
  min-width: 100%;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
} */

.cards {
  border: 1px solid white;
}

.banner {
  background-image: url('https://i.imgur.com/HlmWDMU.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* text-align: center; */
  /* background-color: black; */
  color: white;
  font-size: 30px;
  height: 765px;
  width: 100%;
  /* object-fit: contain; */
  margin-bottom: 0;
  position: relative;
}

.banner p{
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
}

/* .main {
  background: black;
  color: white;
} */

#store-name {
  color: white;
  text-align: center;
  font-size: 3em;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}